/*-- scss:defaults --*/


//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #61bcff !default;
$indigo:  #828df9 !default;
$purple:  #be82fa !default;
$pink:    #ea4998 !default;
$red:     #f56565 !default;
$orange:  #fa984a !default;
$yellow:  #ffc700 !default;
$green:   #68d391 !default;
$teal:    #2ed3be !default;
$cyan:    #22d2ed !default;
$lime:    #a2e436 !default;

$primary:       $lime !default;
$secondary:     $white !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $black !default;





/*-- scss:rules --*/


// Navbar

.navbar {
  border: solid $black;
}